<launch>

<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" output="screen"/>

<node pkg="freicar_teleop" type="raiscar_teleop_record.py" name="teleop" output="screen">
 </node>

<node pkg="joy" type="joy_node" name="joy" output="screen">
 </node>

 <node pkg="rosbag" type="record" name="rosbag_record" cwd="node" output="screen" args="record /tf /tf_static /zed_node/rgb/image_rect_color/record /zed_node/rgb/camera_info/record /zed_node/depth/depth_registered/record /t265/odom/sample /d435/aligned_depth_to_color/image_raw/record /d435/color/image_raw/record /d435/color/camera_info -o $(find raiscar)/recordings/"  />

</launch>
